.mods-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.mode-card {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #555;
    color: white;
    background: url("src/assets/e14968ec-22c0-4b7b-8715-9fdc17729834.png");
    user-select: none;
    max-width: 200px;
    cursor: pointer;
    flex: 1;
    transition: 0.4s ease;
}

.mode-card:hover {
    transform: scale(1.1);
}

.mode-name {
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.mode-text {
    color: white;
    justify-content: center;
    margin-top: 15px;
    text-align: left;
}