.options-wrapper {
    position: absolute;
    color: white;
    user-select: none;
    background-color: #333;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #555;
    top: -12%;
}

.options-ul {
    display: grid;
}

.options-li {
    padding: 2px;
    display: flex;
    transition: 0.3s ease;
    border-radius: 5px;
    width: fit-content;
}

.options-li:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}